/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: inherit;
}

header {
  color: inherit;
}


main {
  color: inherit;
}

footer {
  color: inherit;
} 

rgb(67, 207, 130)
rgb(61, 185, 185);
rgb(255, 249, 160)
*/

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: inherit;
}


body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, .7), rgba(0,0,0, 1)), url('./cube-image.jpeg'); 
  height: 100vh;
  width: 100vw;
  color: white;
  background-color: rgb(0,0,0);
  /*background-color: rgb(194, 248, 239)*/
}

/* .cover-image {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */



header {
  border: solid 3px rgb(51, 168, 168);
  border-radius: 10px;
  width: 90%;
  margin: 2rem auto;
  padding: 1.2rem 0 1.2rem;
  /*clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);*/
  text-align: center;
  font-size: 1.5rem;
  
  
}

.animated-header-1 {
  animation: moveDown 1s ease-in;
}

.animated-header-2 {
  animation: moveUp 1s ease-in;
}

.header-container {
  color: inherit;
}

p {
  margin: .5rem
}

.aside-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.image-border {
  border-radius: 50%;
  margin-top: 1.5rem;
}

.image-border:hover {
  width: 150px;
}

aside {
  border: solid 3px rgb(51, 185, 111);
  border-radius: 10px;
  margin: 1rem 2rem;
  padding: 0 1rem;
  width: 100%;
  color: white;
  line-height: 1.5rem;
  font-weight: 400;
  text-align: center;
}

aside:before {
  box-shadow: inset 0 0 2000px rgba(255,255,255,.5);
  filter: blur(10px);
}

.aboutme-aside {
  margin-right: 1rem;
  color: inherit;
  /*clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);*/
}

.projects-aside {
  /*clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);*/
  padding-top: 3rem;
}


footer {
  background-color: rgb(61, 185, 185);
  margin: 1rem auto;
  padding: 1.2rem 0 1.2rem;
}

@keyframes moveDown {
	0% {
		opacity: 0;
		transform: translateY(-5rem);		
	}
	
	60% {
    opacity: .25;
		transform: translateY(1rem);	
	}
	
	100% {
		opacity: 1;
		transform: translate(0);		
	}
}

@keyframes moveUp {
	0% {
		opacity: 0;
		transform: translateY(5rem);		
	}

	60% {
    opacity: .25;
		transform: translateY(1rem);	
	}
	
	100% {
		opacity: 1;
		transform: translate(0);		
	}
}