/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: inherit;
}

header {
  color: inherit;
}


main {
  color: inherit;
}

footer {
  color: inherit;
} */

.image-border {
  border-radius: 50%
}

.side-profile {
  background-color: black;
  color: white;
}

