/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: inherit;
}

header {
  color: inherit;
}


main {
  color: inherit;
}

footer {
  color: inherit;
} */

p {
  margin: .5rem
}

.aside-container {
  display: flex;
  flex-flow: row no wrap;
  justify-content: center;
}

.image-border {
  border-radius: 50%
}

.aboutme-aside {
  padding: 20px;
  margin: 10px;
  width: 35%;
  background-color: black;
  color: white;
  line-height: 1.5rem;
  text-align: center;
}

